.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  padding: 1rem 2rem;
}
.logo {
  width: 150px;
}
.nav-links a {
  margin: 0 1rem;
  color: rgba(35, 35, 35, 0.8);
  text-decoration: none;
}
.nav-links a:hover {
  color: #eb4034;
}
